<div class="upload">
      <div class="form-group">
          <label for="title">제목</label>
          <input type="text" class="form-control" id="title" [(ngModel)]="video.title">
      </div>
      <div class="form-group">
          <label for="description">설명</label>
          <textarea class="form-control" id="description" rows="3" [(ngModel)]="video.description"></textarea>
      </div>
      <div class="form-group">
          <input type="file" class="form-control" id="validatedCustomFile" (change)="onVideoFileChange(videoFile.files)" #videoFile>

      </div>
      <div class="form-group">
          <input type="file" class="form-control" id="thumnail" (change)="onThumnailFileChange(thumnailFile.files)" #thumnailFile>

     </div>

     <!-- <button type="submit" class="btn btn-primary" (click)="uploadVideo()">업로드</button>-->
      <button class="btn btn-primary" type="button" (click)="uploadVideo()" [disabled]="flag.upload">
          <span *ngIf="flag.upload" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span *ngIf="!flag.upload">업로드</span>
          <span *ngIf="flag.upload">Uploading...</span>
      </button>
</div>