.main-header{
    position: fixed;
    width: 100%;
    z-index: 1020;
}
.header{
    width: 100%;
}
.main-side{
    width: 100%;
}
.main-side-wrapper{
    width: 250px;
}
.main-body{
    width: 100%;
}
.col-auto {
    margin: 0 auto;
}
