.main-header{
    position: fixed;
    width: 100%;
    z-index: 1020;
}
.header{
    width: 100%;
}
.main-side{
    width: 100%;
}
.main-side-wrapper{
    height: 100vh;
    background-color: #eaeaea;
    position: fixed;
    overflow-y: auto;
    padding-left: 25px;
    padding-right: 25px;
    width : 250px;
    margin-top: 50px;
    left:0;
    top:0;
}

.main-wrapper{
    position: relative;
    left:0;
    overflow-y: auto;
    padding: 50px;
    margin-left: 250px;
}
.col-auto {
    margin: 0 auto;
}
