<section class="container">
    <div class="video_area">
        <video src={{video.url}} autoplay controls type="video/mp4"></video>
        <div class="info">
            <h2 class="title">{{ video.title }}</h2>
            <p><a [routerLink]="['/videos/update', video._id]">수정(TEST)</a></p>
            <span class="count">조회수 {{ video.views }}</span>
        </div>
        <div class="user_info">
            <div>
                <div class="user">
                    <p class="userId">{{ video.userId }}</p>
                    <p class="date">게시일 : 2019-07-31</p>
                </div>
                <div class="button_area">
                    <button>추천 236</button>
                    <button>공유</button>
                </div>
            </div>
            <p class="description">{{ video.description }}</p>
        </div>
    </div>

    <div class="replies">
        <p class="count">댓글 51개</p>
        <div class="add">
            <textarea  name="comment"
                       rows="8"
                       [(ngModel)]="reply.comment"
                       #comment='ngModel'></textarea>
            <button (click)="addReply()">등록</button>
        </div>
        <div class="reply" *ngFor="let reply of replyList ">
            <span class="userId">userId : {{reply.userId}}</span>
            <span class="comment">comment : {{reply.comment}}</span>
        </div>
    </div>
</section>
