<p>
    파일 업로드 테스트
</p>

<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h1 class="text-center">파일 업로드</h1>
            <form [formGroup]="form" (ngSubmit)="onSubmit(fileInput.files)">
                <div class="form-group">
                    <div class="btns clearfix">
                        <label class="btn btn-file btn-cancel pull-left">Pick an image
                            <input type="file"
                                   (change)="onFileChange(fileInput.files)" #fileInput>
                        </label>
                        <button type="submit" class="btn btn-save pull-right">
                            Save
                            <i class="fa fa-spinner fa-spin fa-fw"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
