<div class="main">
    <app-cat-videos [videoList]="videoList1" [categoryName]="categoryName1"></app-cat-videos>

    <app-cat-videos [videoList]="videoList2" [categoryName]="categoryName2"></app-cat-videos>

    <app-cat-videos [videoList]="videoList1" [categoryName]="categoryName1"></app-cat-videos>

    <app-cat-videos [videoList]="videoList2" [categoryName]="categoryName2"></app-cat-videos>

    <app-cat-videos [videoList]="videoList1" [categoryName]="categoryName1"></app-cat-videos>

    <app-cat-videos [videoList]="videoList2" [categoryName]="categoryName2"></app-cat-videos>

    <app-cat-videos [videoList]="videoList1" [categoryName]="categoryName1"></app-cat-videos>

    <app-cat-videos [videoList]="videoList2" [categoryName]="categoryName2"></app-cat-videos>
</div>
